In [36]:
import pandas as pd

In [37]:
downtown = pd.read_csv('dt_data.csv')

In [38]:
region = pd.read_csv('region_data.csv')

Table 1
CNS 1 - 20

In [45]:
job_categories = ['Agriculture, Forestry, Fishing and Hunting',
                 'Mining, Quarrying, and Oil and Gas Extraction',
                 'Utilities','Construction','Manufacturing','Wholesale Trade',
                  'Retail Trade','Transportation and Warehousing','Information',
                  'Finance and Insurance','Real Estate and Rental and Leasing',
                  'Professional, Scientific, and Technical Services','Management of Companies and Enterprises',
                  'Administrative and Support and Waste Management and Remediation Services',
                  'Educational Services','Health Care and Social Assistance','Arts, Entertainment, and Recreation',
                  'Accommodation and Food Services','Other Services except Public Administration',
                  'Public Administration']

In [46]:
len(job_categories)

20

In [47]:
# Create an empty dictionary to store the sums
column_sums = {}

# Loop through the column names from "CNS01" to "CNS20"
for column_name in [f'CNS{i:02d}' for i in range(1, 21)]:
    column_sum = downtown[column_name].sum()
    column_sums[column_name] = column_sum

# Now, column_sums is a dictionary where keys are column names like "CNS01", "CNS02", ..., "CNS20",
# and values are the sums of the respective columns
print(column_sums)

{'CNS01': 48, 'CNS02': 0, 'CNS03': 2056, 'CNS04': 5460, 'CNS05': 6960, 'CNS06': 2968, 'CNS07': 7060, 'CNS08': 25788, 'CNS09': 8884, 'CNS10': 14972, 'CNS11': 7168, 'CNS12': 57964, 'CNS13': 3412, 'CNS14': 12552, 'CNS15': 7948, 'CNS16': 15880, 'CNS17': 3744, 'CNS18': 41664, 'CNS19': 10388, 'CNS20': 58376}

In [56]:
column_sums_df = pd.DataFrame.from_dict(column_sums, orient='index', columns=['Sum'])
column_sums_df.index = job_categories
column_sums_df = column_sums_df.rename(columns={"Sum": "Total jobs"})

In [58]:
total_jobs = column_sums_df['Total jobs'].sum()
total_jobs

293292

In [78]:
column_sums_df['% of jobs'] = (column_sums_df['Total jobs'] / total_jobs * 100).apply(lambda x: f'{x:.2f}%')

In [79]:
column_sums_df

                                                    Total jobs % of jobs
Agriculture, Forestry, Fishing and Hunting                  48     0.02%
Mining, Quarrying, and Oil and Gas Extraction                0     0.00%
Utilities                                                 2056     0.70%
Construction                                              5460     1.86%
Manufacturing                                             6960     2.37%
Wholesale Trade                                           2968     1.01%
Retail Trade                                              7060     2.41%
Transportation and Warehousing                           25788     8.79%
Information                                               8884     3.03%
Finance and Insurance                                    14972     5.10%
Real Estate and Rental and Leasing                        7168     2.44%
Professional, Scientific, and Technical Services         57964    19.76%
Management of Companies and Enterprises                   3412     1.16%
Administrative and Support and Waste Management...       12552     4.28%
Educational Services                                      7948     2.71%
Health Care and Social Assistance                        15880     5.41%
Arts, Entertainment, and Recreation                       3744     1.28%
Accommodation and Food Services                          41664    14.21%
Other Services except Public Administration              10388     3.54%
Public Administration                                    58376    19.90%